<div id="contact-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create Comment</h4>
      </div>
      <%= form_for @comment, remote: true do |f| %>
      <div class="modal-body">
        <div class="form-group">
          <%= f.label 'Comment' %>
          <%= f.text_area :body, autofocus: true, class: 'form-control' %>
        </div>

        <%= f.hidden_field :user_id, :value => @user.id %>
        <%= f.hidden_field :post_id, :value => @post.id %>
      </div>
      <div class="modal-footer">
        <%= f.submit 'Save', class: 'btn btn-primary btn-md', data: { disable_with: "Please wait..." } %>
      </div>
      <% end %>
    </div>
  </div>
</div>